<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>



    <h1>
      <%= title %>
    </h1>

    <img src=" ../Assets/images/rincy.jpg" style="width:200px;height:200px;" />
    <table>
      <tr>
        <td>Name: </td>
        <td>Rincy Kuriakose</td>
      </tr>
      <tr>
        <td valign="top">About me: </td>
        <td>
          My name is Rincy Kuriakose. I'm an AI-fast-track student at Centennial College. I was born and raised in
          Kerala, India. <br>
          I was working as a Software Engineer in India. <br>
          I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about
          the different cultures, the cuisines, their history, the language and all the small unique things every place
          has to offer.
        </td>
      </tr>
      <tr>
        <td>Resume: </td>
        <td><a href="../Assets/images/Rincy Kuriakose.pdf">Click Here</a></td>
      </tr>
    </table>

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>