<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>



      <h1>
         <%= title %>
      </h1>
      <p>Welcome to <%= title %>
      </p>
      <p>Contact me using the following details: <br><b>
            Email:rincyk70@gmail.com</b>
      </p>

      <form action="http://localhost:3000/">
         <label for="fname">First name:</label><br>
         <input type="text" id="fname" name="fname"><br>
         <label for="lname">Last name:</label><br>
         <input type="text" id="lname" name="lname"><br>
         <label for="num">Contact Number:</label><br>
         <input type="tel" id="num" name="num"><br>
         <label for="email">Email:</label><br>
         <input type="email" id="email" name="email"><br>
         <label for="message">Type you message here:</label><br>
         <textarea id="w3review" name="w3review" rows="4" cols="50">
         </textarea><br>
         <input type="submit" value="Submit">

      </form>

      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>