<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>
      <a href="http://localhost:3000/about">About Me</a>
      <a href="http://localhost:3000/projects">Projects</a>
      <a href="http://localhost:3000/Services">Services</a>
      <a href="http://localhost:3000/Contact">Contact</a>
      <h1>
         <%= title %>
      </h1>
      <p>Welcome to <%= title %>
      </p>
      <link rel=" shortcut icon" type="image/x-icon" href=" ../Assets/images/RK.png" />
      <p>This is our Home Page for the project Comp-229 Assignment 1</p>
      <p><b>Mission statement :</b> To acquire knowledge that I can use in the workforce and in my daily life to better
         myself
         and the world around me.</p>

      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>