<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>

        <h1>
            <%= title %>
        </h1>
        <h4>
            Project-1 : SOFTWARE FOR MALL OF TRAVANCORE
        </h4>
        This is a Hybrid App which keeps a directory of Malls, Shops ordered by name and
        category.<br>
        o Wrapper Application <br>
        o Super Admin can edit, change status, add new users, malls and can view <br>
        details listed in dashboard. <br>
        o Mall owners can access via the email from the application. <br>
        o Shop owners can update new offers, discounts etc. <br>
        Technologies used:JAVA, JSP, HTML5, CSS3, JAVASCRIPT, JDBC, SQL and MySQL in ECLIPSE IDE
        </p>

        <p>
        <h4>
            Project-3 : Distribution Management System (DMS)
        </h4>
        Insurance Domain
        Client: <b>PricewaterhouseCoopers (PwC)</b> <br>
        • Worked Using: ALM, JIRA, Agile Testing <br>
        • Responsible in understanding functional specifications <br>
        • Conducted functional, Regression and Sanity testing of the application in Dev, QA and
        UAT environments. <br>
        • Demo to clients and Daily Scrum call with onshore and offshore. <br>
        • Execute test cases in HP ALM (Application Lifecycle Management) tool and review the
        results. <br>
        </p>

        <p>
        <h4>Project-3 : Express Portfolio Site
        </h4>
        Creating a Personal Portfolio Website using ExpressJS and implementing the EJS templating
        engine. Site hosted live on a cloud service Heroku.
        </p>

        <%-include partials/bottom_nav.ejs%>
            <%-include partials/footer.ejs%>