<%-include partials/header.ejs%>
   <%-include partials/main_nav.ejs%>



      <h1>
         <%= title %>
      </h1>
      <p>Welcome to <%= title %>
      </p>
      <p>You need our services, Kindly go through the list below:</p>
      <h5>Software Development</h5>
      <p>:
         <img src=" ../Assets/images/java.jpg" style="width:90px;height:80px;" />
         => Java <br>:
         <img src=" ../Assets/images/python.jpg" style="width:90px;height:80px;" />
         => Python <br>:
         <img src=" ../Assets/images/html.jpg" style="width:90px;height:80px;" />
         => HTML,CSS,JS <br>:
         <img src=" ../Assets/images/node.jpg" style="width:90px;height:80px;" />
         => Node <br>:
         <img src=" ../Assets/images/mysql.jpg" style="width:90px;height:80px;" />
         => MySQL
      </p>


      <%-include partials/bottom_nav.ejs%>
         <%-include partials/footer.ejs%>